.root {
	-fx-couleur-fonce: rgb(30,30,30);
	-fx-couleur-pale: rgb(70,70,70);
	-fx-couleur-plus-pale: rgb(110,110,110);
	-fx-couleur-bleu: rgb(60,130,220);
	-fx-background-color: -fx-couleur-pale;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
	-fx-font-family: 'Helvetica', Arial, sans-serif;
	-fx-font-size: 12px;
	-fx-base: white;
	-fx-color: white;
	-fx-text-fill: white;
}

/* *************************************************** */
/* ********************* TabPane ********************* */
/* *************************************************** */

.tab-header-background {
    -fx-background-color: -fx-couleur-fonce;
}

.tab-pane * {
	-fx-text-fill: white;

}

.tab {
	-fx-background-color: -fx-couleur-fonce;
	-fx-background-insets: 0 1 0 1,0,0;
	
}

.tab-pane {
	-fx-tab-min-width:30px;
	-fx-tab-max-width:30px;
	-fx-tab-min-height:140px;
	-fx-tab-max-height:140px;
}

.tab-label {
    -fx-rotate: 90;
	-fx-padding: 0 0 0 -99100;
	-fx-translate-y: 99035;
	/* -fx-translate-y: -70; */
	-fx-alignment: baseline-left;
	/* -fx-position-shape: false; */
}

.tab-pane > .tab-header-area > .headers-region > #tab01:hover > .tab-container > .tab-label { -fx-graphic: url("/medias/nav01hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab01:selected > .tab-container > .tab-label { -fx-graphic: url("/medias/nav01hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab02:hover > .tab-container > .tab-label { -fx-graphic: url("/medias/nav02hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab02:selected > .tab-container > .tab-label { -fx-graphic: url("/medias/nav02hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab03:hover > .tab-container > .tab-label { -fx-graphic: url("/medias/nav03hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab03:selected > .tab-container > .tab-label { -fx-graphic: url("/medias/nav03hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab04:hover > .tab-container > .tab-label { -fx-graphic: url("/medias/nav04hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab04:selected > .tab-container > .tab-label { -fx-graphic: url("/medias/nav04hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab05:hover > .tab-container > .tab-label { -fx-graphic: url("/medias/nav05hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab05:selected > .tab-container > .tab-label { -fx-graphic: url("/medias/nav05hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab06:hover > .tab-container > .tab-label { -fx-graphic: url("/medias/nav06hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab06:selected > .tab-container > .tab-label { -fx-graphic: url("/medias/nav06hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab07:hover > .tab-container > .tab-label { -fx-graphic: url("/medias/nav07hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab07:selected > .tab-container > .tab-label { -fx-graphic: url("/medias/nav07hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab08:hover > .tab-container > .tab-label { -fx-graphic: url("/medias/nav08hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab08:selected > .tab-container > .tab-label { -fx-graphic: url("/medias/nav08hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab09:hover > .tab-container > .tab-label { -fx-graphic: url("/medias/nav09hover.png"); -fx-text-fill: -fx-couleur-bleu; }
.tab-pane > .tab-header-area > .headers-region > #tab09:selected > .tab-container > .tab-label { -fx-graphic: url("/medias/nav09hover.png"); -fx-text-fill: -fx-couleur-bleu; }

.tab-pane > .tab-header-area > .headers-region > .tab:hover, .tab:selected {
    -fx-text-fill: -fx-couleur-bleu;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover, .tab:selected {
    -fx-background-color: -fx-couleur-pale;
}



/* *************************************************** */
/* ******************** TableView ******************** */
/* *************************************************** */

.table-view {
    -fx-background-color: white;
}

.table-view .column-header {
    -fx-background-color: white;

}


.table-view, .table-view .column-header-background {
	/* -fx-background-color: transparent; */
	-fx-border-color: white;
 }
 
 .table-view:focused {
	 /* -fx-background-color: transparent; */
 }
 
 .table-view .column-header-background .label {
	 -fx-background-color: white;
	 /* -fx-text-fill: green; */
 }
 
 .table-view .column-header {
	 /* -fx-background-color: transparent; */
 }
 
 .table-view * {
	 -fx-text-fill: black;
 }
 
 .table-row-cell {
	 -fx-background-color: -fx-table-cell-border-color, #BBBBBB;
	 /* -fx-background-insets: 0, 0 0 1 0; */
	 /* -fx-padding: 0.0em; 0 */
 }
 
 .table-row-cell:odd {
	 -fx-background-color: -fx-table-cell-border-color, #999999;
	 /* -fx-background-insets: 0, 0 0 1 0; */
	 /* -fx-padding: 0.0em; 0   */
 }
 
 .table-row-cell:selected {
	 -fx-background-color: -fx-couleur-bleu;
	 /* -fx-background-insets: 0; */
	 /* -fx-background-radius: 1; */
 }

 .table-view .arrow {
	-fx-mark-color: -fx-couleur-bleu ;
 }
 
 .table-view > .virtual-flow > .scroll-bar:vertical,
 .table-view > .virtual-flow > .scroll-bar:vertical > .track,
 .table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
 .table-view > .virtual-flow > .scroll-bar:horizontal,
 .table-view > .virtual-flow > .scroll-bar:horizontal > .track,
 .table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
	 -fx-background-color: transparent;
 }

 /* .table-view > .virtual-flow > .scroll-bar > .increment-button, 
 .table-view > .virtual-flow > .scroll-bar > .decrement-button {
	 -fx-opacity: 0;
 } */



/* ************************************************** */
/* ********************* Button ********************* */
/* ************************************************** */

.button {
	-fx-background-color: -fx-couleur-fonce;
	-fx-background-radius: 5;
	-fx-border-color:white;
	-fx-border-radius:5;
	
}

.button:hover {
	/* -fx-background-color: -fx-couleur-pale; */
	-fx-border-color: -fx-couleur-bleu;
	-fx-text-fill: -fx-couleur-bleu;
}



/* **************************************************** */
/* ******************* TextField ********************** */
/* **************************************************** */

.text-field {
	-fx-text-fill: white;
	-fx-control-inner-background: -fx-couleur-pale;
	-fx-text-box-border: -fx-couleur-pale;
	-fx-border-color: white;
	-fx-background-radius: 5;
	-fx-border-radius:5;
}
.text-field:focused {
	-fx-background-color: -fx-couleur-fonce;
    -fx-text-box-border: -fx-couleur-bleu;
	-fx-border-color: -fx-couleur-bleu;
}
.text-field:hover {
	-fx-background-color: -fx-couleur-fonce;
	-fx-border-color: -fx-couleur-bleu;
}



/* **************************************************** */
/* ******************** TextArea ********************** */
/* **************************************************** */

.text-area .content {
	-fx-background-radius: 5;
	-fx-border-radius:5;
	-fx-border-color: -fx-couleur-pale;
	-fx-background-color: -fx-couleur-pale;
}
.text-area {
	-fx-background-radius: 5;
	-fx-border-radius:5;
	-fx-border-color: white;
	-fx-base: -fx-couleur-pale;
}
.text-area:hover, .text-area:focused {
	-fx-border-color: -fx-couleur-bleu;
	-fx-base: -fx-couleur-fonce;
}
.text-area:hover .content, .text-area:focused .content {
	-fx-border-color: -fx-couleur-fonce;
	-fx-background-color: -fx-couleur-fonce;
}



/* ************************************************** */
/* ****************** ImageView ********************* */
/* ************************************************** */

.image-view {
	-fx-border-color:-fx-couleur-bleu;
    -fx-border-insets: 3;
    -fx-border-radius: 7;
    -fx-border-width: 1;
	
}



/* **************************************************** */
/* ********************** CUSTOM ********************** */
/* **************************************************** */

#labelAjoutUserErreur1,
#labelAjoutUserErreur2,
#labelAjoutUserErreur3,
#labelAjoutUserErreur4,
#labelAjoutUserErreur5 {
	-fx-text-fill: red;
}

#labelAjoutExNewErreur1,
#labelAjoutExNewErreur2,
#labelAjoutExNewErreur3,
#labelAjoutExNewErreur4,
#labelAjoutExNewErreur5,
#labelAjoutExNewErreur6 {
	-fx-text-fill: red;
}

.combo-box {
	-fx-background-color: black;
	-fx-text-fill: black;
}
.combo-box-popup .list-cell {    
    -fx-background-color: white;    
    -fx-text-fill: black;
}
